.separated{
    margin-left: 30px;
}

footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;

}

/* this does not seem to control the behavior at all widths; suspect bootstrap/class issue and-or conflict with master css */
.footer-copyright {
    text-align: center;
}